@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Inter&display=swap');

@import url("./main/main.css");

:root {
    --black-color: #01080E;
    --blue-color: #1875E8;
    --white-color: #FFFFFF;

    --chakra-petch-font: "Chakra Petch", sans-serif;
    --inter-font: "Inter", sans-serif;
}

body {
    background: linear-gradient(to bottom,
       var(--black-color) 10%, var(--white-color) 10%,
       var(--white-color) 90%, var(--black-color) 90%);
    color: var(--black-color);
    height: auto;
    min-height: 100vh;
    padding: 7vh 8vw 5vh;
}

@media screen and (max-width: 500px) {
    body {
        padding: 2em 0.5em;
    }
}